<a href='/create_direct_pay_by_user'>即时到帐收款</a> 
</p>
<a href='/create_direct_bankpay_by_user'>网银支付</a>
</p>
<a href='/refund_fastpay_by_platform_pwd'>即时到账批量退款</a>
</p>
<a href='/create_partner_trade_by_buyer'>担保交易收款</a>
</p>
<a href='/send_goods_confirm_by_platform'>支付宝确认发货</a>
</p>
<a href='/trade_create_by_buyer'>双功能收款</a>
</p>